<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration   PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"   "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>



	<!-- 配置类别名 -->
	<typeAliases>
		<typeAlias alias="IUserDao" type="com.mashen.sm.dao.IUserDao" />
		<typeAlias alias="User" type="com.mashen.sm.model.User" />
	</typeAliases>

	


</configuration>